* {
    font-family: 'Forum', cursive;
    margin: 0;
    padding: 0;
    text-transform: initial;
    letter-spacing: .5px;
    /* text-align: center; */
}

:root {
    --colorsecond: #d3ac96;
    --colorgris: #65686c;
    /* rgba(224, 203, 168, .50) */
    --colornegro: black;
    --colorbackground: #E0CBA8;
    --colorblanco: white;
    --colorbanner: rgba(98, 95, 89, 0.6);
}

body {
    color: var(--colorgris);
    font-size: 19px;
    letter-spacing: 1px;
}

/* CABECERA DE LA PÁGINA (HEADER) */

.principal {
    background-image: url(/Proyectopersonal/img/Banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
}

.container {
    width: 95%;
    margin: 15px auto;
}

.header {
    text-align: center;
    font-size: 19px;
    padding: 25px 0px 25px 0px;
}

.header a {
    text-decoration: none;
    text-transform: initial;
    margin-right: 1.5rem;
    color: var(--colorgris);
}

.header a:hover {
    text-decoration: underline;
    color: #000;
}

/* PARTE DE LA BIENVENIDA (INICIO) */

.welcome {
    margin-top: 85px;
}

.welcome h1 {
    color: var(--colorsecond);
    font-size: 49px;
    text-align: left;
}

.welcome p {
    color: var(--colornegro);
    background-color: rgba(224, 203, 168, .45);
    padding: 35px;
    margin-right: 35rem;
    line-height: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: px;
    font-size: 19px;
}

/* SECCIÓN DIVISIORIA DE BIENVENIDA */

.banner-welcome{
    background-color: var(--colorblanco);
    color: var(--colorsecond);
}

.w-banner{
    letter-spacing: 5px;
    font-size: 35px;
    text-align: center;
    padding: 55px;
}

/* CONÓCEME (PARTE DE PRESENTACIÓN Y DEMÁS) */

.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    background-color: rgb(185, 156, 106);
    
}

.about-me-img{
    background-image: url(/Proyectopersonal/img/pc-mano.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

.about-me-text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--colorblanco);
    padding: 25px;
    line-height: 37px;
    
}

/* SEVICIOS QUE OFRECEMOS */

.what-i-make {
    height: 400px;
    padding: 20px;
    text-align: center;
    background-color: white;
    margin-bottom: 95px;
    margin-top: 55px;
    margin-bottom: 55px;
}

.what-i-make h1 {
    color: var(--colornegro);
    font-size: 35px;
}

.what-i-make h4 {
    font-size: 19px;
    margin: 21px;
}

.services-enunciado a {
    font-size: 23px;
    text-decoration: none;
    color: var(--colornegro);
    padding: 13px;
    background-color: rgba(185, 156, 106);
    border-radius: 35px;
}

.services-enunciado a:hover {
    color: var(--colorblanco);
    transition: .3s;
}

/* SUSCRIPCIÓN DE CORREOS Y DEMÁS */

.newsletter{
    margin-top: 0;
    text-align: center;
    background-color: rgba(224, 203, 168, .45);
    font-size: 23px;
    padding: 25px;
}

.join h1{
    color: var(--colornegro);
    font-size: 35px;
    margin-bottom: 27px;    
    margin-top: 27px;    
}

.join p{
    margin-bottom: 17px;
    text-align: center;
    margin: 45px 0;
}

.suscribe{
    font-size: 19px;
    background-color: rgba(224, 203, 168, .020);
    width: 300px;
    border: 0px;
    padding: 10px;
}

.suscribe:focus {
    border: 0px;
}

.buttom{
    font-size: 23px;
    border: none;
    background-color: rgba(185, 156, 106);
    padding: 10px;
    border-radius:  25px;
    margin-bottom: 35px;
}

.buttom:hover{
    font-size: 23px;
    border: none;
    text-shadow: 3px gray;
    transition: .3s;
    padding: 10px;
    border-radius:  25px;
    color: var(--colorblanco);
}
/* PIE DE PÁGINA (FOOTER) */

footer {
    /* background-color: rgba(224, 203, 168, .45); */
    margin-top: 45px;
    /* background-color: var(--colorblanco); */
    padding: 25px;
    margin-top: 0;
    padding-top: 45px;
}

.other-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 45px;
    margin-bottom: 125px;
}

.other-links h3{
    font-size: 25px;
    margin-bottom: 17px;
}

.other-links-2{
    color: var(--colornegro);
    display: flex;
    flex-direction: column;
    align-items: right;
}

.other-links a{
    text-decoration: none;
    color: var(--colorsecond);
    margin-bottom: 9px;
}

.other-links a:hover{
    text-decoration: underline;
}

.copy {
    font-size: 17px;
    text-align: center;
    margin-bottom: 21px;
}

.terms {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    margin: 0 300px 0 300px;
}

.terms a {
    text-decoration: none;
    color: var(--colorgris);
}

.terms a:hover {
    color: var(--colornegro);
    text-decoration: underline;
}